<h1>Please upload CSV file or Excel file</h1>
<div class="uploadDocument">
  <input
    id="my-file-selector"
    type="file"
    (change)="uploadData($event)"
    name="uploadExcel"
  />
  <span>Please upload file</span>
</div>
<!-- {{ tableData | json }} -->

<!-- <table id="dtBasicExample" datatable [dtOptions]="dtOptions" cellspacing="0" cellpadding="0">
  <tr class="p-4">
    <th *ngFor="let header of tableTitle">{{ header }}</th>
  </tr>
  <tr *ngFor="let data of tableRecords; let i = index">
    <td *ngFor="let header of tableTitle">
      {{ data[header] }}
    </td>
  </tr>
</table> -->
<!-- <div *ngIf="totalPageCount">
  Go To Page:
  <select [(ngModel)]="currentPage" (click)="onPageChange()">
    <option *ngFor="let page of [].constructor(totalPageCount); let i = index">
      {{ i + 1 }}
    </option>
  </select>
</div> -->

<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr >
      <th *ngFor="let header of tableTitle">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of tableRecords; let i = index">
      <td *ngFor="let header of tableTitle">
        {{ data[header] }}
      </td>
    </tr>
    <tr></tr>
  </tbody>
</table>
