<h1>Please upload CSV file or Excel file</h1>
<div class="uploadDocument">
  <input
    id="my-file-selector"
    type="file"
    (change)="uploadData($event)"
    name="uploadExcel"
  />
  <span>Please upload file</span>
</div>
<!-- {{ tableData | json }} -->

<table cellspacing="10" cellpadding="10">
  <tr>
    <th *ngFor="let header of tableTitle">{{ header }}</th>
  </tr>
  <tr *ngFor="let data of tableRecords; let i = index">
    <td *ngFor="let header of tableTitle">
      {{ data[header] }}
    </td>
  </tr>
</table>
<!-- <div *ngIf="totalPageCount">
  Go To Page:
  <select [(ngModel)]="currentPage" (change)="onPageChange()">
    <option *ngFor="let page of [].constructor(totalPageCount); let i = index">
      {{ i + 1 }}
    </option>
  </select>
</div> -->